@model List<ResultAllRecipeForAdminDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Tarifler</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="basic-datatables"
                           class="display table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>RecipeId</th>
                                <th>RecipeImage</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>CategoryName</th>
                                <th>Yazar</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>RecipeId</th>
                                <th>RecipeImage</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>CategoryName</th>
                                <th>Yazar</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.RecipeId</td>
                                    <td>
                                        <img src="@item.RecipeImageUrl" class="img-thumbnail" style="width: 100px; height: 100px; object-fit: cover;" />
                                </td>
                                    <td>@item.Title</td>
                                    <td>@item.Description</td>
                                    <td>@item.CategoryName</td>
                                    <td>@item.Username</td>
                                    <td>
                                        <button class="btn btn-danger delete-button" data-url="/Admin/Recipe/RemoveRecipe/@item.RecipeId">
                                            Sil
                                        </button>
                                        <button class="btn btn-warning update-button" data-url="/Admin/Recipe/UpdateRecipe/@item.RecipeId">
                                            Güncelle
                                        </button>
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <nav>
            <ul class="pagination">
                <li class="page-item @(ViewBag.CurrentPage == 1 ? "disabled" : "")">
                    <a class="page-link" href="?pageNumber=@(ViewBag.CurrentPage - 1)&pageSize=@ViewBag.PageSize">Önceki</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?pageNumber=@ViewBag.CurrentPage&pageSize=@ViewBag.PageSize">@ViewBag.CurrentPage</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?pageNumber=@(ViewBag.CurrentPage + 1)&pageSize=@ViewBag.PageSize">Sonraki</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
