@model ResultUserDto

@using System.Globalization

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .profile-container {
            max-width: 600px;
            margin: 20px auto;
            border: 1px solid #ddd;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        .profile-img {
            width: 150px;
            height: 150px;
            object-fit: cover;
            border-radius: 50%;
            margin-bottom: 15px;
        }
        .profile-info label {
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="profile-container text-center">
            <img src="@Model.UserImageUrl" alt="User Image" class="profile-img">
            <h3>@Model.Name @Model.Surname</h3>
            <div class="profile-info text-left mt-4">
                @* <div class="form-group">
                    <label>User ID:</label>
                    <p>@Model.UserId</p>
                </div> *@

                <div class="form-group">
                    <label>Email:</label>
                    <p>@Model.Email</p>
                </div>
                <div class="form-group">
                    <label>Şifre:</label>
                    <p>@Model.Password</p>
                </div>
                <div class="form-group">
                    <label>Telefon:</label>
                    <p>@Model.Phone</p>
                </div>
                <div class="form-group">
                    <label>Birth Date:</label>
                    <p>@DateTime.Parse(Model.BirthDate, CultureInfo.InvariantCulture).ToString("dd-MM-yyyy")</p>
                </div>


            </div>
        </div>
    </div>
</body>
</html>

