@model List<ResultAllUsersForAdminPageDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Kullanıcılar</h4>
                
            </div>
            <button class="btn btn-success update-button" data-url="/Admin/User/CreateUser">
                Yeni Kullancı Ekle
            </button>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="basic-datatables"
                           class="display table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>UserId</th>
                                <th>UserImage</th>
                                <th>Name</th>
                                <th>Surname</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>BirthDate</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>UserId</th>
                                <th>UserImage</th>
                                <th>Name</th>
                                <th>Surname</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>BirthDate</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.UserId</td>
                                    <td>
                                        <img src="@item.UserImageUrl" class="img-thumbnail" style="width: 100px; height: 100px; object-fit: cover;" />
                                    </td>
                                    <td>@item.Name</td>
                                    <td>@item.Surname</td>
                                    <td>@item.Email</td>
                                    <td>@item.Phone</td>
                                    <td>@item.BirthDate</td>
                                    <td>
                                        <button class="btn btn-danger delete-button" data-url="/Admin/User/RemoveUser/@item.UserId">
                                            Sil
                                        </button>
                                        <button class="btn btn-warning update-button" data-url="/Admin/User/UpdateUser/@item.UserId">
                                            Güncelle
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

